streamlit==1.47.0
pandas==2.2.1
openpyxl==3.1.2
numpy==1.26.4  # Última versão estável compatível
XlsxWriter==3.2.0        # escrita .xlsx mais rápida
xlrd==1.2.0              # (opcional) habilita leitura de .xls
pyxlsb==1.0.10           # (opcional) habilita leitura de .xlsb
